Morales Hernández Bruno Ricardo

Laboratorio 4: DataBricks

In [0]:
%fs ls dbfs:/FileStore/shared_uploads/bmoralesh1700@alumno.ipn.mx

path,name,size,modificationTime
dbfs:/FileStore/shared_uploads/bmoralesh1700@alumno.ipn.mx/Mall_Customers.csv,Mall_Customers.csv,4286,1729382230000

In [0]:
df1 = spark.read.format("csv").option("header", "true").load("dbfs:/FileStore/shared_uploads/bmoralesh1700@alumno.ipn.mx/Mall_Customers.csv")

In [0]:
df1.createOrReplaceTempView("clientes_temp")

In [0]:
# Primeras 10 observaciones del dataset.
spark.sql("SELECT * FROM clientes_temp LIMIT 10").show()

# Número de clientes por género.
spark.sql("SELECT Genre, COUNT(*) as num_customers FROM clientes_temp GROUP BY Genre").show()

# Listar los clientes con "Spending Score" mayor a 80:
spark.sql("SELECT * FROM clientes_temp WHERE CAST(`Spending Score (1-100)` AS INT) > 80").show()

# Obtener el ingreso anual máximo de los clientes.
spark.sql("SELECT MAX(CAST(`Annual Income (k$)` AS INT)) as max_income FROM clientes_temp").show()

+----------+------+---+------------------+----------------------+
|CustomerID| Genre|Age|Annual Income (k$)|Spending Score (1-100)|
+----------+------+---+------------------+----------------------+
|      0001|  Male| 19|                15|                    39|
|      0002|  Male| 21|                15|                    81|
|      0003|Female| 20|                16|                     6|
|      0004|Female| 23|                16|                    77|
|      0005|Female| 31|                17|                    40|
|      0006|Female| 22|                17|                    76|
|      0007|Female| 35|                18|                     6|
|      0008|Female| 23|                18|                    94|
|      0009|  Male| 64|                19|                     3|
|      0010|Female| 30|                19|                    72|
+----------+------+---+------------------+----------------------+

+------+-------------+
| Genre|num_customers|
+------+-------------+
|Female|          112|
|  Male|           88|
+------+-------------+

+----------+------+---+------------------+----------------------+
|CustomerID| Genre|Age|Annual Income (k$)|Spending Score (1-100)|
+----------+------+---+------------------+----------------------+
|      0002|  Male| 21|                15|                    81|
|      0008|Female| 23|                18|                    94|
|      0012|Female| 35|                19|                    99|
|      0020|Female| 35|                23|                    98|
|      0026|  Male| 29|                28|                    82|
|      0030|Female| 23|                29|                    87|
|      0034|  Male| 18|                33|                    92|
|      0036|Female| 21|                33|                    81|
|      0042|  Male| 24|                38|                    92|
|      0124|  Male| 39|                69|                    91|
|      0128|  Male| 40|                71|                    95|
|      0136|Female| 29|                73|                    88|
|      0142|  Male| 32|                75|                    93|
|      0144|Female| 32|                76|                    87|
|      0146|  Male| 28|                77|                    97|
|      0150|  Male| 34|                78|                    90|
|      0152|  Male| 39|                78|                    88|
|      0156|Female| 27|                78|                    89|
|      0162|Female| 29|                79|                    83|
|      0164|Female| 31|                81|                    93|
+----------+------+---+------------------+----------------------+
only showing top 20 rows

+----------+
|max_income|
+----------+
|       137|
+----------+

In [0]:
%sql
SELECT * FROM clientes_temp LIMIT 10;

CustomerID,Genre,Age,Annual Income (k$),Spending Score (1-100)
0001,Male,19,15,39
0002,Male,21,15,81
0003,Female,20,16,6
0004,Female,23,16,77
0005,Female,31,17,40
0006,Female,22,17,76
0007,Female,35,18,6
0008,Female,23,18,94
0009,Male,64,19,3
0010,Female,30,19,72

In [0]:
%sql
SELECT Genre, COUNT(*) as num_customers FROM clientes_temp GROUP BY Genre;

Genre,num_customers
Female,112
Male,88

In [0]:
%sql
SELECT * FROM clientes_temp WHERE CAST(`Spending Score (1-100)` AS INT) > 80;

CustomerID,Genre,Age,Annual Income (k$),Spending Score (1-100)
0002,Male,21,15,81
0008,Female,23,18,94
0012,Female,35,19,99
0020,Female,35,23,98
0026,Male,29,28,82
0030,Female,23,29,87
0034,Male,18,33,92
0036,Female,21,33,81
0042,Male,24,38,92
0124,Male,39,69,91
0128,Male,40,71,95
0136,Female,29,73,88
0142,Male,32,75,93
0144,Female,32,76,87
0146,Male,28,77,97
0150,Male,34,78,90
0152,Male,39,78,88
0156,Female,27,78,89
0162,Female,29,79,83
0164,Female,31,81,93
0168,Female,33,86,95
0174,Male,36,87,92
0176,Female,30,88,86
0180,Male,35,93,90
0182,Female,32,97,86
0184,Female,29,98,88
0186,Male,30,99,97
0190,Female,36,103,85
0194,Female,38,113,91
0200,Male,30,137,83

In [0]:
%sql
SELECT MAX(CAST(`Annual Income (k$)` AS INT)) as max_income FROM clientes_temp;

max_income
137

In [0]:
%sql
CREATE TEMPORARY VIEW clientes_temp_copy AS SELECT * FROM clientes_temp

In [0]:
df_resultado1 = spark.sql("SELECT * FROM clientes_temp LIMIT 10")
df_resultado2 = spark.sql("SELECT Genre, COUNT(*) as num_customers FROM clientes_temp GROUP BY Genre")
df_resultado3 = spark.sql("SELECT * FROM clientes_temp WHERE CAST(`Spending Score (1-100)` AS INT) > 80")
df_resultado4 = spark.sql("SELECT MAX(CAST(`Annual Income (k$)` AS INT)) as max_income FROM clientes_temp")

df_resultado1.write.parquet("/dbfs/FileStore/resultados/primeras_10_parquet")
df_resultado2.write.parquet("/dbfs/FileStore/resultados/genero_clientes_parquet")
df_resultado3.write.parquet("/dbfs/FileStore/resultados/puntaje_mayorA_80_parquet")
df_resultado4.write.parquet("/dbfs/FileStore/resultados/ingreso_max_parquet")